.App {
  text-align: center;
}

.onHover {
  cursor: pointer;
}

.onHover:hover {
  border-bottom: 2px solid #f8d7da;
  background-color: #f8f9fa;
  text-decoration: none;
}

.onHoverLocal {
  cursor: pointer;
}

.onHoverLocal:hover,
.onHoverLocal:hover > a {
  border-bottom: 2px solid #cbcaf1;
  background-color: #f8f9fa;
  text-decoration: none;
}

.dropdown-menu {
  right: 0;
  left: auto;
}
